body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-color: #ff7b73;
  margin: 0;
  place-items: center;
}

.App {
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-color: #ff7b73;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ff7b73;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
.title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


